* {
	box-sizing: border-box;
}

body {
	background-color: #000;
	background-image: url("../images/background.jpg");
	background-size: cover; 
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-size: 16px;
	color: #fff;
	margin:0;
	padding:0;
	clear:both;

}

#container {
	position: absolute;
	width: 85%;
	min-width: 600px;
	margin: 30px auto;
	min-height: 600px;
	left:7.5%;
}

#cover {
	position: fixed;
	top:0;
	left:0;
	background-image: url("../images/background.jpg");
	background-size: cover; 
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height:100px;
	padding:0;
	margin:0;
	z-index: 9998;
}

#head {
	text-align: center;
	background-color: #222;
	width:85%;
	min-width: 600px;
	margin: 0 auto;
	position: fixed;
	left:7.5%;
	z-index: 9999;
	box-shadow: 5px 3px 20px black;
	border-radius: 1px 3px 5px 3px;
}

h1 {
	font-size: 400%;
	margin:0;
	padding: 10px;
}

#navbar {
	background-color: #444;
	width: 100%;
}

.menubutton{
	background-color: #666;
	border-radius: 5px;
	margin-bottom: 15px;
	text-align: center;
	float:left;
	width:19%;
	margin:5px .5% 5px .5%;

}

.menubutton:link, .menubutton:visited, a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: #fff;
}

.menubutton:hover, .menubutton:active {
	cursor: pointer;
	background-color: #888;
}

.active {
	background-color: #888;
}

#main {
	background-color: #888;
	padding: 20px 20px 0px 20px;
	width: 100%;
	min-width: 600px;
	min-height: 600px;
	margin:150px auto 30px;
	z-index: 1;
	box-shadow: 5px 5px 20px #111;
	border-radius: 1px 3px 5px 3px;
	overflow:auto;
}

#main a {
	text-decoration: underline;
}

img.home {
	margin:0 0 20px 20px;
	width:275px;
	height:auto;
	float:right;
}

img.projects_image {
	width: 100%;
	height: auto;
	float: left;
}

.project_image_slot {
	width:20%;
}

.project_name_slot {
	text-align: center;
	width:80%;
	float:right;
}

.project_container, .project_container:visited, .project_container:link {
	background-color: #AAA;
	padding: 20px;
	width: 80%;
	min-width: 550px;
	min-height: 100px;
	margin:10px auto;
	z-index: 2;
	box-shadow: 5px 5px 20px #111;
	border-radius: 10px;
	overflow:auto;
}

.project_container:hover, .project_container:active {
	cursor: pointer;
	background-color: #BBB;
}

table {
	table-layout:fixed; 
	width:60%;
	margin:10px auto 10px;
}

.research-interest-cols {
	min-width: 200px;
}

footer {
    position: fixed;
	width:85%;
	min-width: 600px;
	background-color:black; 
    text-align: center;
    bottom:0; 
    margin: 10px auto 0;
	left:7.5%;
	z-index: 9999;
}

#hr-line {
	width:50%;
}

h2 {
	margin: 0;
	font-size:250%;
}

h3 {
	margin: 0;
	font-size:150%;
}

.course-list {
	font-size: 90%
}

.description {
	display: none;
	width:90%;
	margin:0 auto;
	left:10%;
	text-align: left;
}
