* {
	box-sizing: border-box;
}

body {
	background-color: #000;
	background-image: url("images/background2.jpg");
	background-size: cover; 
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-size: 16px;
	color: #fff;
}

#bg {
	margin: 0;
	padding: 0;
	border: 0;
}

#head {
	text-align: center;
	background-color: #222;
	font-size: 400%;
	width:95%;
	/*margin: 50px;*/
	/*margin-bottom: 5px;*/
	position: fixed;
	/*top:50;*/
	/*left:50;*/
}

#navbar {
	background-color: #444;
	float: left;
	width: 19%;
	/*position: fixed;*/
	/*margin-top: 100px;*/
}

#main {
	background-color: #888;
	padding: 10px 0px 10px 20px;
	float: right;
	width: 80%;
	min-height: 600px;
	margin-bottom: 150px;
	/*margin-top:100px;*/
}

#container1 {
	position: absolute;
	margin:50px;
}

#container2 {	
	margin: 10px;
}

div.menubutton{
	background-color: #666;
	border-radius: 5px;
	margin-bottom: 15px;
	text-align: center;
}

div.menubutton:link, div.menubutton:visited, a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: #fff;
}

div.menubutton:hover, div.menubutton:active {
	cursor: pointer;
	background-color: #888;
}

div.curpg {
	background-color: #888;
}

div.othpg {
	background-color: #666;
}